{{!< layout}}
 <header class="aui-page-header">
     <div class="aui-page-header-inner">
         <div class="aui-page-header-main intro-header">
             <h1>{{title}}</h1>
         </div>
     </div>
 </header>
 <div class="aui-page-panel main-panel">
     <div class="aui-page-panel-inner">
         <section class="aui-page-panel-item">
             <div class="aui-group">
                 <div class="aui-item">
                     <div class="projects">
                     </div>
                 </div>
             </div>
         </section>
         <section class="aui-page-panel-item">
             <div class="aui-group">
                 <div class="aui-item">
                     <div class="webhooks">
                        <form class="aui">
                            <div class="field-group">
                                <label for="comment-email">Daily Email <span class="aui-icon icon-required">(required)</span></label>
                                <input class="text medium-field" type="text" id="comment-email" name="comment-email" placeholder="you@example.com">
                            </div>
                            <div class="field-group">
                                <label for="comment-email">Weekly Email <span class="aui-icon icon-required">(required)</span></label>
                                <input class="text medium-field" type="text" id="comment-email" name="comment-email" placeholder="you@example.com">
                            </div>
                            <div class="field-group">
                                <label for="comment-email">Monthly Email <span class="aui-icon icon-required">(required)</span></label>
                                <input class="text medium-field" type="text" id="comment-email" name="comment-email" placeholder="you@example.com">
                            </div>
                            <div class="buttons-container">
                                <div class="buttons">
                                    <input class="button submit" value="Create Webhook" id="create-webhook">
                                </div>
                            </div>
                        </form>
                     </div>
                 </div>
             </div>
         </section>
     </div>
 </div>
 <script src="{{furl '/js/webhooks.js'}}"></script>